<!--
  Generated template for the ValidatePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Verify Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
        <ion-label color="primary" stacked>Password</ion-label> 
        <ion-input type="text" [(ngModel)]="inputPassword" name="password"></ion-input>
    </ion-item>


    <button ion-button (click)="OnClick_Login()">Login</button>
    <button ion-button (click)="OnClick_ForgotPassword()">forgot password</button>

</ion-content>
