page-payment-omise { 
    .webPage{
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        padding: 1rem;
    }

    img {
        width: 40px;
        position: absolute;
        top: 22px;
    }
    .flag-icon {
        position: relative;
        top: 8px;
        left: 20px;
    }
    .input-card {
        margin-left: 50px;
    }
    ion-grid.con{
        ion-item{
            margin: 0px;
        }
    }
    ion-row{
        ion-col{
            text-emphasis: none;
        }
    }
    ion-select{
        max-width: 100%;

        .select-icon{
            display: none;
        }
    }

    ion-input{
        input{
            font-size: 1.3em;
            border-bottom: 3px solid !important;
        } 
    }
    ion-input.cc-card input{
        width: calc(82% - 8px - 8px);
    }

    .lbCountry{
        font-size: 1.3em;
        margin: 0;
    }

    .item-inner{
        border: none !important;
    }

    .lbl-lc {    
        font-size: 1.0em; 
        color: #000; 
        text-transform: none;
      }
}