
<ion-header>
  <ion-navbar>
      <ion-buttons left>
          <button ion-button (click)="dismiss()" color="light">
              <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title center>Omise Payment</ion-title>
  </ion-navbar> 
</ion-header>

<ion-content padding>  
  <iframe (click)="popKeyb()"  name="iframe1" #iframe1 class="webPage"  [src]="url" allowfullscreen></iframe>

  <ion-input #hiddenInput type="text" style="width:0;height:0;padding:0;margin:0;opacity:0;"></ion-input>  
  
</ion-content>