.ios{
    page-your-trip {
 
        .toolbar-background {
            border: none;
        }  
      
        .sp_color_a{
            color: #fff;
            background-color: #16dd16; 
            border: 1px solid #eee;
            border-radius: 3px; 
            padding: 4px 14px 4px 14px;
          }
    
          .sp_color_b{
            color: #fff;
            background-color:red; 
            border: 1px solid #eee;
            border-radius: 3px; 
            padding: 4px 14px 4px 14px;
          }
    
        ion-scroll{
             margin: 0;
             padding: 0;
             text-align: left;
             height: 98%;
             ion-col{
                 padding: 4px 0px 4px 0px;
                 vertical-align: middle;
             }
             img{
                width: 30px;
                position: absolute; 
                top: 0px;
                left: 4px;
                margin-right: 20px;
            } 
            span{
                margin-left: 40px;
            }
        } 
    
    }
    
}


.md{
    page-your-trip {
  
      
        .sp_color_a{
            color: #fff;
            background-color: #16dd16; 
            border: 1px solid #eee;
            border-radius: 3px; 
            padding: 4px 14px 4px 14px;
          }
    
          .sp_color_b{
            color: #fff;
            background-color:red; 
            border: 1px solid #eee;
            border-radius: 3px; 
            padding: 4px 14px 4px 14px;
          }
    
        ion-scroll{
             margin: 0;
             padding: 0;
             text-align: left;
             height: 98%;
             ion-col{
                 padding: 4px 0px 4px 0px;
                 vertical-align: middle;
             }
             img{
                width: 30px;
                position: absolute; 
                top: 0px;
                left: 4px;
                margin-right: 20px;
            } 
            span{
                margin-left: 40px;
            }
        } 
    
    }
    
}