
<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button (click)="dismiss()" color="light">
                <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title full text-center>History</ion-title>
    </ion-navbar> 
  </ion-header>

  <ion-content>  
    <ion-scroll scrollY="true">
        <ion-list scroll="true"> 
            <ion-item-sliding  *ngFor="let item of historyList">
                <ion-item text-wrap>
                  <ion-row style="background-color: #fcb813; margin-bottom: 4px;"> 
                          <ion-col>
                              <span style="margin-left: 4px;">order number: {{item.number}}</span>
                          </ion-col>
                  </ion-row> 
                  <ion-row> 
                    <ion-col col-9>
                        <img  src="assets/images/icon-origin.png"  />  
                        <span style="font-size: 1em;text-overflow: ellipsis;white-space: nowrap;">{{item.start_location}}  </span>  
                    </ion-col>                             
                    <ion-col style="text-align: right;" col-3> 
                        <p style="font-size: 0.8em">THB {{item.fare}} <br> <span> {{item.showcard}}</span> </p>
                    </ion-col>
                  </ion-row>
                  <ion-row> 
                      <ion-col col-8>
                          <img  src="assets/images/icon-destination.png"  />
                          <span style="font-size: 1em;text-overflow: ellipsis;white-space: nowrap;"> {{item.destination}}</span>   
                      </ion-col> 
                      <ion-col  style="text-align: right;" col-4>
                          <p style="font-size: 0.8em">{{item.date_show}}</p>
                      </ion-col>
                  </ion-row>
                  <ion-row> 
                      <ion-col col-6> 
                         <ion-icon *ngIf="item.expressway=='1'" name="custom-tollways" color="bBlue" style="margin-left: 6px; font-size: 28px;"></ion-icon>
                      </ion-col> 
                      <ion-col  style="text-align: right;" col-6>
                             <!-- <span class="sp_color_b">
                                  {{statusOrder[item.status]}}
                             </span>  -->
                             <span class="{{set_statusOrder(item.status)}}">
                              {{item.showstatus}}
                         </span> 
                      </ion-col>
                  </ion-row>
                </ion-item> 
            </ion-item-sliding> 
            <ion-item></ion-item>
        </ion-list>
    </ion-scroll> 
</ion-content>