<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button (click)="dismiss()" color="light">
                <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title full text-center>Go every where ?</ion-title>
    </ion-navbar>
    <ion-toolbar> 
        <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()"
            (ionCancel)="dismiss()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-list>
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
             <ion-icon item-start name="ios-pin-outline"></ion-icon> 
            <p>{{item.label_a}}</p>
            <h3>{{item.label_b}}</h3>
        </ion-item>
    </ion-list>
   -->

    <ion-list>
        <ion-item-divider color="light">My Location</ion-item-divider>
        <ion-item-sliding *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
          <ion-item text-wrap>
              <img src="assets/images/placeholder.png" width="20"/>
              {{item.label_a}}
              <p>{{item.label_b}}</p>
          </ion-item> 
        </ion-item-sliding>  
    </ion-list>

</ion-content>