.ios{
  page-popup { 

    .horline{
      width:100%;
      height: 1px;
      background: #BABABA; 
      position: relative;  
     }

    .horizontalline{
      width:40px;
      height:4px;
      background: #fcb813;
      margin-top: 0; 
      position: relative; 
      margin-left: 43%; 
     }
  
      .main-view{ 
          background: rgba(0,0,0,0.4);
          opacity: 1.2;
          padding: 10px;
        }
        .overlay {
          position: fixed;
          top: 0;
          width: 93%;
          height: 100%;
          z-index: 1;
          opacity: .6;
          background-color: #333;
        }
        .modal_content {
          position: absolute;
          top: calc(50% - (50%/2));
          //bottom: 0;
          left: 0;
          right: 0;
          width: 90%;
          //height: 31%;
          padding: 0;
          z-index: 100;
          margin: 0 auto; 
          color: #333;
          background: #fff; 
          border-radius: 5px;
          box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          overflow: hidden;
        }
   
  }
}

.md{
  page-popup { 


    .horline{
      width:100%;
      height: 1px;
      background: #BABABA; 
      position: relative;  
     }

    .horizontalline{
      width:40px;
      height:4px;
      background: #fcb813;
      margin-top: 0; 
      position: relative; 
      margin-left: 43%; 
     }
  
      .main-view{ 
          background: rgba(0,0,0,0.4);
          opacity: 1.2;
          padding: 10px;
        }
        .overlay {
          position: fixed;
          top: 0;
          width: 93%;
          height: 100%;
          z-index: 1;
          opacity: .6;
          background-color: #333;
        }
        .modal_content {
          position: absolute;
          top: calc(50% - (50%/2));
          //bottom: 0;
          left: 0;
          right: 0;
          width: 90%;
          //height: 33%;
          padding: 0;
          z-index: 100;
          margin: 0 auto; 
          color: #333;
          background: #fff;
          background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
          background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
          background: linear-gradient(to bottom, #fff 0%, #fff 100%);
          border-radius: 5px;
          box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          overflow: hidden;
        }
   
  }
}