<ion-content class="main-view">
    <div class="modal_content">   
            <ion-item style="height: 68px;" text-wrap text-center no-lines>
                <ion-label item-end style="font-size: 1.2em;color:#000;">
                    {{setPopup.title}}
                </ion-label>  
            </ion-item> 
             
            <div class="horizontalline"></div> 
             
            <ion-item no-lines style="height: auto; vertical-align: middle;" text-center text-wrap>
                <ion-label item-end style="font-size: 1.1em;color:#000;">
                    {{setPopup.text_message}}
                </ion-label>   
            </ion-item>   

            <div class="horline"></div> 
             
            <ion-item no-lines  text-center style="height: 60px;vertical-align: middle;">
                <ion-label *ngIf="setPopup.isCancel" style="font-size: 1.2em;" (click)="chooseItem(false)">
                        <p style="font-size: 1.2em;">{{setPopup.btn_cancel}}</p>
                </ion-label> 
                <ion-label item-end style="font-size: 1.2em;" (click)="chooseItem(true)">
                        <p style="font-size: 1.2em;">{{setPopup.btn_confirm}}</p>
                </ion-label> 
          </ion-item>   
    </div>
</ion-content>
