<!-- 
    <ion-header>
  <ion-navbar color="secondary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
 -->

 <ion-content class="main-view">
        <div class="modal_content"> 
            <ion-scroll no-padding style="height: 100%" scrollY="true">
            <ion-list scroll="true">
                <ion-item-divider no-lines  color="light">Option
                    <ion-icon name="ios-close" item-end (click)="dismiss()"></ion-icon>
                </ion-item-divider> 

                <div class="horline"></div> 

                <!-- <ion-item style="height: 60px" no-lines> 
                    <ion-label item-start>Tag</ion-label>
                    <ion-icon item-end name="ios-person-outline"><p>Personal</p></ion-icon> 
                </ion-item> -->
                <ion-item no-lines>  
                </ion-item>
                <ion-item no-lines>  
                    <!-- <input type="text" [(ngModel)]="textNote" /> -->
                    <ion-textarea class="trounded" style="border-radius: 6%;" no-margin text-wrap rows="5"  [(ngModel)]="textNote"  placeholder="Note To Drive" full ></ion-textarea>
                </ion-item> 
                <div class="horline"></div>  
                <ion-item style="height: 80px;" no-lines>
                    <button ion-button full color="primary" style="height: 50px;font-size: 1em;" (click)="SaveOption()">Confirm</button>
                </ion-item>
            </ion-list>
            </ion-scroll>
        </div>
    </ion-content>
