<!--
  Generated template for the AuthenticationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>authentication</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="ion-content">

  <div class="logo-panel">
    <img src="assets/images/Logo.png"/>
    <div>
      Welcome to Premium<br/>Travel Application
    </div>
    
  </div>
 

  <div class="btn-panel">
    
      Continue with..
      <br>
       <!-- 
       <button ion-button color="facebook" (click)="facebookLogin()">
        <ion-icon name="logo-facebook"></ion-icon>
        Facebook</button> 
      -->
      
    <button ion-button color="light" (click)="GotoInputPage()">Register</button>
   
    <button ion-button color="primary" class="btn-ligth" (click)="GotoInputPage()">Or your phone number</button>
    
  </div>
 

  <!-- <form (ngSubmit)="Authentication()">
    <ion-list>
      <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input type="text" [(ngModel)]="authenViewModel.phoneNumber" name="phoneNumber"></ion-input>
      </ion-item>
 
    </ion-list>
    <button ion-button>Login</button>
  </form>  -->
  <!-- <button menuClose ion-item (click)="afterAuthen()">Login</button> -->
</ion-content>
