.ios{
    page-authentication {

        .toolbar-background {
            border: none;
        }
        
        
        $font-size-base: 1em;
    
        text-align: center;
        .ion-content {
            background-color: #fcb813;
        }
        .logo-panel {
            width: 80%;
            margin: 0 auto;
            font-size: 1.4em;
            margin-top: 15%;
            img{
                width: 200px;
            }
            div {
                position: relative;
                top: -50px;
            }
        }
        .btn-panel {
            position: absolute;
            bottom: 20%;
            width: 100%;
            ion-icon {
                font-size: 2em;
                margin-right: 10px;
            }
            button {
                width: 90%;
                min-height: 50px;
                margin: 5px 15px;
                text-transform: none;
                font-size: 1.4em;
                border-radius: 3px;
            }
            button.btn-ligth {
                box-shadow: none;
                font-size: 1.3em;
                color: #555;
            }
        }
    }
}


.md{
    page-authentication {
 
        $font-size-base: 1em;
    
        text-align: center;
        .ion-content {
            background-color: #fcb813;
        }
        .logo-panel {
            width: 80%;
            margin: 0 auto;
            font-size: 1.4em;
            margin-top: 15%;
            img{
                width: 200px;
            }
            div {
                position: relative;
                top: -50px;
            }
        }
        .btn-panel {
            position: absolute;
            bottom: 20%;
            width: 100%;
            ion-icon {
                font-size: 2em;
                margin-right: 10px;
            }
            button {
                width: 90%;
                min-height: 50px;
                margin: 5px 15px;
                text-transform: none;
                font-size: 1.4em;
                border-radius: 3px;
            }
            button.btn-ligth {
                box-shadow: none;
                font-size: 1.3em;
                color: #555;
            }
        }
    }
}