
<ion-header> 
</ion-header>

<ion-menu [content]="content" type="overlay" [swipeEnabled]="false">
  <!-- <ion-header class="menu-header">
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  -->

  <ion-content class="side-bg">
    <div class="user-profile-panel">
      <div class="profile">
        <ion-grid>
          <ion-row>
            <ion-col col-4 class="img-panel">
                <img src="{{image_account}}" style="width: 70px;border-radius: 20%;"/>
            </ion-col>
            <ion-col col-8 class="name-panel">
              <p>{{UserFullName}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="user-extra">
        <ion-grid style="height: 32px;">
          <ion-row>
            <ion-col col-7 style="border-right: 1px solid;">
              <!-- <div>
                Your Current Point 999
              </div> --> 
              <div style="text-align: left" (click)="ChangedPhone()"> 
                  <ion-icon item-left  name="ios-arrow-back" 
                  style="margin-right: 20px;color : #fff;font-size: 16px;"></ion-icon>
                {{Phone}}
            </div> 
              <!-- <ion-item class="item-bg-navbar" no-lines center> 
                  <ion-label style="color: #fff">{{Phone}}</ion-label>  
              </ion-item> -->
            </ion-col>
            <ion-col col-5> 
              <div style="text-align: right" (click)="GotoPofile()">
                {{MemberType}} 
                <ion-icon item-right  name="ios-arrow-forward" 
                  style="margin-left: 20px;color : #fff;font-size: 16px;"></ion-icon>
              </div> 
              <!-- <ion-item class="item-bg-navbar" no-lines right> 
                  <ion-label style="color: #fff">{{MemberType}}</ion-label>  
              </ion-item> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>

    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="openPopLoguut()">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>