.header-md::after {
    background-image: none;
}

.user-profile-panel {
    background-color: #fcb813;
    min-height: 150px;

    .profile{ 
        padding: 26px 0px 0px 0px;
        height: 100px;
        align-items: center;
        vertical-align: middle;
        display: flex;
        .img-panel{
            text-align: center;
            ion-icon{
                font-size: 5em;
                color: #fff;
            }
        }
        .name-panel{
            display: flex;
            align-items: center;
        }
        p{
            margin: 0;
            color: #fff;
            font-size: 1.5em;
        }
    }
    .user-extra{
        padding: 4px 15px;
        color: #fff;
        font-style: italic;
        border-top: 0px solid #dcdadad9;
        text-align: center;
    }
   
}

.side-bg {
    background-color: #1c1b1a;
    button {
        color: #a2a2a2;
        background-color: #1c1b1a;
        font-style: italic;
        .item-inner {
            border-bottom: none !important;
            .input-wrapper {
                padding-left: 25px;
                border-left: 3px solid #fcb813;
            }
        }
    }
    ion-list {
        margin-top: 20px;
    }
}

.content-md {
    color: #4c4c4c;
}

.back-button,.bar-buttons {
    color: #fff;

    ion-icon{
        font-size: 4rem;
    }
}

.toolbar-background {
    background: #fcb813;
}

.panel-action {
    font-size: 5em;  
    position: absolute;
    bottom: 15%;
    right: 10%;
    width: 75px;
    height: 75px;
    border-radius:50%; 
    background: #868686;
    ion-icon{
        position: relative;
        left: 20px;
        top: 0px;
        font-size: 1em;
    }
}

.panel-top {
    background-color: #fcb813;
    padding: 21px;
    min-height: 35%;
    h4 {
        margin: 0px;
    }
}

.item-bg-navbar {
    height: 10px;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    background: transparent !important
}

.panel-detail {
    padding: 20px;
}

.cBlue {
    color: #3b4b96;
}

.resend-css {
    .action-sheet-group {
        background: #fcb813;
        text-align: center;
        .action-sheet-title {
            text-align: center;
            color: #1c1b1a;
            font-size: 2em;
        }
        button {
            text-align: center;
            background-color: #1c1b1a;
            color: #fcb813;
            width: 80%;
            margin: 10px;
            font-size: 1.5em;
            .button-inner{
                justify-content: center;
            }
        }
    }
    .action-sheet-group-cancel button {
        color: #000;
        background: #fff;
    }
}

.line {
    width: 200px;
}

.stripesLoader {
    
    height: 5px;
    /*should not be larger than 20px*/
    position: relative;
    background: linear-gradient(90deg, #eee 50%, transparent 50%);
    background-color: crimson;
    background-size: 200%;
    background-position: 80%; 
    transform: scale(-1);
    transition: 0.3s;
    width: 100%;
}

.stripesLoader:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; 
    background: linear-gradient( 45deg, transparent 25%, rgba(238, 238, 238, 0.5) 25%, rgba(238, 238, 238, 0.5) 30%, transparent 30%, transparent 35%, rgba(238, 238, 238, 0.5) 35%, rgba(238, 238, 238, 0.5) 70%, transparent 70%);
    animation: shift 2s linear infinite;
    background-size: 60px 100%; 
}

@keyframes shift {
    to {
        background-position: 60px 100%;
    }
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.toolbar-title{
    color: #fff;
}

.bar-button{
    color: #fff;
}

ion-loading{
    padding-left: 10px;
    padding-right: 10px;
}

ion-loading.transparent {
    .loading-wrapper {
      background: transparent;
      box-shadow: none;
  
      .spinner-crescent circle {
        stroke-width: 10px;
      }
    }
  }

ion-icon {
    &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
      }
    
      &[class*="custom-credit-card"] {
        mask-image: url(../assets/images/credit-card.png);
      }
      &[class*="custom-cash"] {
        mask-image: url(../assets/images/cash.png);
      } 
      &[class*="custom-tollways"] {
        mask-image: url(../assets/images/tollways.png);
      } 
}

 