<ion-header>
  <ion-navbar>
      <ion-buttons left>
          <button ion-button (click)="dismiss()" color="light">
              <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title full text-center>Payment Method</ion-title>
      <ion-buttons end>
        <button ion-button>
            <ion-icon name="ios-arrow-round-back-outline" color="primary"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar> 
</ion-header>
  
<ion-content>

  <ion-list *ngIf="!isAdd"> 
    <ion-item-sliding *ngFor="let p of paymentList">
      <ion-item>
        <img *ngIf="p.card_number!='Cash'" src="assets/images/credit-card.png" /> 
        <img *ngIf="p.card_number =='Cash'" src="assets/images/cash.png" />
        {{p.card_number}}
      </ion-item> 
      <ion-item-options icon-start>
        <button ion-button (click)="removeItem(p)">
            <ion-icon name="ios-trash-outline"></ion-icon>
            Delete
        </button>
      </ion-item-options>
    </ion-item-sliding> 

  <ion-item color="light" (click)="clickAdd()">
    <img src="assets/images/credit-card.png"/>
    Credit/Debit
    <ion-icon name="md-add" item-end style="margin-right: 25px"></ion-icon>  
  </ion-item>
 
    <ion-item no-lines> 
    </ion-item>
  </ion-list>  

  <ion-list *ngIf="isAdd">
    <ion-item  color="light" (click)="OpenAddCredit()">
      <img src="assets/images/credit-card.png"/>
      Credit/Debit 
     </ion-item>
     <ion-item *ngIf="isCash" color="light" (click)="OpenAddCash()">
      <img src="assets/images/cash.png"/>
      Cash   
     </ion-item> 
    <ion-item no-lines> 
    </ion-item>
  </ion-list>
</ion-content>