page-payment { 
    ion-item{
        ion-label{
            padding-bottom: 10px;
            font-size: 1em;
        }
    }
    
    img {
        width: 34px;
        position: relative;
        top: 4px;
    }
}