// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


@font-face {
  font-family: 'ADINEUEPRO';
  src:url('../assets/font/ADINEUEPRO-REGULAR.ttf');  
 }

 @font-face {
  font-family: 'ADINEUEPRO';
  src:url('../assets/font/ADINEUEPRO-BOLD.ttf'); 
  font-weight: bold;
 }
 
@font-face {
  font-family: 'ADINEUEPRO';
  src:url('../assets/font/ADINEUEPRO-LIGHT.ttf'); 
  font-style: italic;
 }
 
 $font-family-base: "ADINEUEPRO";
 $font-family-ios-base: $font-family-base;
 $font-family-md-base: $font-family-base;
 $font-family-wp-base: $font-family-base;


 //$font-size-base: 10px !default;
 //$font-size-large: 14px !default;
 //$font-size-small: 10px !default;
 //$font-size-root: 50%;

// html{
//   font-size:12px;	
// }
// input{
//   font-size: 1rem;
// }
// h1{
//   font-size:1.2rem;
// }

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #fcb813,
  cBlue :     #3b4b96,
  secondary:  #32db64,
  danger:     #820000,
  light:      #ffffff,
  dark:       #1c1b1a,
  cGray :     #a7a5a5,
  bBlue :     #0000ff,
  facebook:   #3b5998,
  trnsp:      transparent,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
