 
<ion-content class="ion-content">


  <div class="logo-panel">
    <img src="assets/images/Logo.png"/>
    <div>
      Welcome to Premium<br/>Travel Application
    </div>
    
  </div>
 

  <div class="btn-panel"> 

      <br>

      <div *ngIf="!isGPS">
          Loading ...
      </div>
     
      <br>

      <div *ngIf="isGPS"> 
        Please help to checked Open GPS<br/>for use Limo Application
      </div>
       
  </div>

  
  <div id="map_canvas1" style="width: 100px; height: 100px;display: none;"></div> 
  
</ion-content>
