.ios{
    page-profile {  

        .toolbar-background {
            border: none;
        }
        
        input{
            border: none;
        }
        .btn-action {
            button {
                height: 50px;
                font-size: 1.2em;
                text-align: center;
                vertical-align: middle;
                margin-bottom: 10px;
            }
        } 
        .i-item {
            padding: 0;
            margin: 0; 
            p{
                margin-inline-start: 55px;
            }
            input{
                margin-inline-start: 55px;
            }
        }
        .panel-top {
            background-color: #fcb813;
            padding: 2px 16px 2px 16px;
            min-height: 20%;
            text-align: center; 
            h2 {
                text-align: center;
                margin: 0px; 
                color: #fff;
            }
            img {
                width: 110px;
                position: relative;
                top: 4px;
                border-radius: 20%;
            }
            span { 
                font-size: 2em;
                color: #fff;
            }
        }
    
    }
}


.md{
    page-profile {  
        input{
            border: none;
        }
        .btn-action {
            button {
                height: 50px;
                font-size: 1.2em;
                text-align: center;
                vertical-align: middle;
                margin-bottom: 10px;
            }
        } 
        .i-item {
            padding: 0;
            margin: 0; 
            p{
                margin-inline-start: 55px;
            }
            input{
                margin-inline-start: 55px;
            }
        }
        .panel-top {
            background-color: #fcb813;
            padding: 2px 16px 2px 16px;
            min-height: 20%;
            text-align: center; 
            h2 {
                text-align: center;
                margin: 0px; 
                color: #fff;
            }
            img {
                width: 110px;
                position: relative;
                top: 4px;
                border-radius: 20%;
            }
            span { 
                font-size: 2em;
                color: #fff;
            }
        }
    
    }
}