<ion-header>
   <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()" color="light">
        <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title full text-center>EDIT ACCOUNT</ion-title> -->
  </ion-navbar> 
</ion-header>

<ion-content> 
  <div class="panel-top">
    <h2>EDIT ACCOUNT</h2>
    <ion-item no-padding no-margin no-lines text-center (click)="UploadImg()" color="primary"> 
      <img src="{{image_account}}" style="margin-left: 30px"/> <span item-end> +</span>
    </ion-item>
  </div> 
  <ion-item class="i-item">
    <p>First Name</p>
    <input type="text" [(ngModel)]="ipFirstName" (keyup.enter)="Save()" />
    <p style="color: red;" *ngIf="fnameValidate">* {{message_fname_validate}}</p>
  </ion-item>
  <ion-item class="i-item">
    <p>Last Name</p>
    <input type="text" [(ngModel)]="ipLastName" (keyup.enter)="Save()" />
    <p style="color: red;" *ngIf="lnameValidate">* {{message_lname_validate}}</p>
  </ion-item>
  <ion-item class="i-item">
    <P>Email Address</P>
    <input type="email" [(ngModel)]="ipEmail" (keyup.enter)="Save()" /> 
    <p style="color: red;" *ngIf="emailValidate">* {{message_email_validate}}</p>
  </ion-item>
  <ion-item class="i-item" (click)="changePhone()"> 
    <p>Mobile Phone</p> 
    <span style="margin-left: 55px">{{ipMobile}}</span>
    <!-- <input type="tel" [(ngModel)]="ipMobile" /> -->
  </ion-item>
  <ion-item class="i-item">
    <P>Password</P>
    <input type="password" [(ngModel)]="ipPassword" (keyup.enter)="Save()" /> 
    <p style="color: red;" *ngIf="passwordValidate">* {{message_password_validate}}</p>
  </ion-item>

  <div padding class="btn-action">
    <button ion-button full color="primary" (click)="Save()">CONFIRM</button>
  </div>
</ion-content>