
<ion-header>
  <ion-navbar>
      <ion-buttons left>
          <button ion-button (click)="dismiss()" color="light">
              <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title full text-center>Add Card</ion-title>
      <ion-buttons end>
        <button ion-button>
            <ion-icon name="ios-arrow-round-back-outline" color="primary"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar> 
</ion-header>

<ion-content padding>   
 
            <ion-item no-lines style="height: 100px; margin-left: 10px;">
                <img  src="assets/images/credit-card.png" style="width: 80px;" />
            </ion-item>
            <ion-item no-lines>
                <ion-input type="text" placeholder="Card name"></ion-input>
            </ion-item>
            <ion-item no-lines>
                <ion-input type="tel" placeholder="Card number" ></ion-input>
            </ion-item>
            <ion-item no-lines>
                <ion-input type="tel" style="width: 50px;" placeholder="MM/YY"></ion-input><ion-input type="tel" style="width: 50px;" placeholder="CVC"></ion-input>
            </ion-item> 

        <div class="panel-action">
            <ion-icon name="ios-arrow-round-forward-outline" color="light"></ion-icon>
        </div>
  
</ion-content>