.ios{
    page-phone-input {

        .toolbar-background {
            border: none;
        }
        
        
        $font-size-base: 1em;
    
        select-searchable{
            background-color: #fff; 
        }
       
        .ion-select-b{ 
            border: 0px !important;
        }
    
        .ion-item-b{ 
            border: 0px !important;
        }
    
        .panel-content{
            margin: 20px 0; 
            font-size: 1.4em;
    
            input{
                width: 100%;
                background: transparent;
                border: none;
                border-bottom: 2px solid #fff;
                padding: 0 10px;
                font-weight: bold;
            }
    
            ion-select{
                max-width: 100%;
                padding: 3px 10px;
                text-align: right;
                background-color: #fff;
                border: 1px solid #949393;
    
                .select-icon{
                    display: none;
                }
            }
        } 
    
       
    }
    
}

.md{
    page-phone-input {

        
        $font-size-base: 1em;
    
        select-searchable{
            background-color: #fff; 
        }
       
        .ion-select-b{ 
            border: 0px !important;
        }
    
        .ion-item-b{ 
            border: 0px !important;
        }
    
        .panel-content{
            margin: 20px 0; 
            font-size: 1.4em;
    
            input{
                width: 100%;
                background: transparent;
                border: none;
                border-bottom: 2px solid #fff;
                padding: 0 10px;
                font-weight: bold;
            }
    
            ion-select{
                max-width: 100%;
                padding: 3px 10px;
                text-align: right;
                background-color: #fff;
                border: 1px solid #949393;
    
                .select-icon{
                    display: none;
                }
            }
        } 
    
       
    }
    
}