<!--
  Generated template for the PhoneInputPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 
  <div class="panel-top">
      <h4>Enter your phone number</h4>  

      <!-- <ion-item>
          <select-searchable #myselect
            item-content 
            [(ngModel)]="ipCountryCode"
            itemValueField="code"
            itemTextField="dial_code"
            [items]="countries"
            [canSearch]="true"  
            (onChange)="sChanged($event)"
            (onClose)="onClose($event)"> 
          </select-searchable>  
          <ion-input type="tel" [(ngModel)]="ipPhoneNumber"></ion-input>
      </ion-item> -->

      <div class="panel-content">  
          <ion-grid>
              <ion-row>
                  <ion-col col-2>
                      <img item-left src="assets/flags/th.png" style="height: 32px;" />
                  </ion-col>
                <ion-col col-3>     
                  <ion-select [(ngModel)]="ipCountryCode"> 
                        <ion-option value="TH">+66
                        </ion-option>  
                  </ion-select> 

                  <!-- <ion-item no-padding>
                    <img src="assets/images/flag-TH.png" class="flag-icon" />
                    <ion-label style="height: 0px; ;color: #fcb813">Dial-code</ion-label>
                    <ion-select clase="ion-select-b"  [(ngModel)]="ipCountryCode">
                         <ion-option *ngFor="let cc of countries" [value] ="cc.code">{{cc.dial_code}}
                         </ion-option>  
                      </ion-select> 
                  </ion-item>  -->

                <!-- <select-searchable #myselect  full
                      item-content 
                      [(ngModel)]="ipCountryCode"
                      itemValueField="code"
                      itemTextField="dial_code"
                      [items]="countries"
                      [canSearch]="true"  
                      (onChange)="sChanged($event)"
                      (onClose)="onClose($event)"> 
                </select-searchable>  -->

                </ion-col>
                <ion-col col-7>
                  <input type="tel" [(ngModel)]="ipPhoneNumber"  maxlength="10" (keyup.enter)="nextState()"/> 
                </ion-col>
              </ion-row> 
              <ion-row>
                  <ion-col col-2>
                  </ion-col>
                <ion-col col-10>
                    <p style="color: red;font-size: 0.8em;" *ngIf="phoneValidate">* {{message_phone_validate}}</p>
                  </ion-col>
              </ion-row>
            </ion-grid>
      </div> 
  </div>


  <div class="panel-action">
      <ion-icon name="ios-arrow-round-forward-outline" color="light" 
      (click)="nextState()"></ion-icon>
  </div>
</ion-content>
