<!--
  Generated template for the PasswordInputPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

    <div class="panel-top">
        <h4>Enter your password</h4> 
        <div class="panel-content">
            <br/>
            <input type="password" [(ngModel)]="ipPassword" (keyup.enter)="nextState()"/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h5 style="color: #fff" (click)="sendResetPassword()">RESET PASSWORD</h5> 
        </div> 
    </div>
   

    <div class="panel-action">
            <ion-icon name="ios-arrow-round-forward-outline" color="light" 
            (click)="nextState()"></ion-icon>
        </div>
</ion-content>
