.ios{
    page-password-input {

        .toolbar-background {
            border: none;
        }
    
        input{
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 2px solid #fff;
            padding: 0 10px;
            font-weight: bold;
            font-size: 1.5em;
        }
    }
    
}


.md{
    page-password-input {

        input{
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 2px solid #fff;
            padding: 0 10px;
            font-weight: bold;
            font-size: 1.5em;
        }
    }
    
}