.ios{
    page-validate-otp {
    
        .toolbar-background {
            border: none;
        }
        
        
    .otp-panel{
        margin-top: 35px;
    
        ion-input{
            width: 50px;
            display: inline;
        }
        input{
            background: transparent;
            font-size: 1.5em;
            width: 35px;
            border: none;
            border-bottom: 2px solid #fff;
            margin: 0 10px;
            text-align: center;
            font-weight: bold;
        }
        h6{
            color: #820000;
            span{
                position: absolute;
                right: 20px;
            }
        }
    }    
    
    
    }
    
    
}

.md{
    page-validate-otp {
    

        
    .otp-panel{
        margin-top: 35px;
    
        ion-input{
            width: 50px;
            display: inline;
        }
        input{
            background: transparent;
            font-size: 1.5em;
            width: 35px;
            border: none;
            border-bottom: 2px solid #fff;
            margin: 0 10px;
            text-align: center;
            font-weight: bold;
        }
        h6{
            color: #820000;
            span{
                position: absolute;
                right: 20px;
            }
        }
    }    
    
    
    }
    
    
}