<!--
  Generated template for the ValidateOtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="panel-top">
    <h4>Enter 4 ditgit code sent to you at your phone number </h4>
    <div class="otp-panel">
      <ion-input maxlength="1" type="number" name="otp1" #otp1 (keyup)="keyupOtp($event,'1')" (focus)="clearAll()" [(ngModel)]="ipOTP.ip1"></ion-input>
      <ion-input maxlength="1" type="number" name="otp2" #otp2 (keyup)="keyupOtp($event,'2')" (focus)="clearNum('2')" [(ngModel)]="ipOTP.ip2"></ion-input>
      <ion-input maxlength="1" type="number" name="otp3" #otp3 (keyup)="keyupOtp($event,'3')" (focus)="clearNum('3')" [(ngModel)]="ipOTP.ip3"></ion-input>
      <ion-input maxlength="1" type="number" name="otp4" #otp4 (keyup)="keyupOtp($event,'4')" (focus)="clearNum('4')" [(ngModel)]="ipOTP.ip4"></ion-input>
      <h6 *ngIf="stateValidate">Did you enter the correct phone number ?</h6>
    </div>

  </div>
  <div class="panel-detail">
    <h6>Resend code
      <span *ngIf="!timmerTimeup">in {{maxtime}}s</span>
      <span *ngIf="timmerTimeup">
        <button ion-button (click)="openModal()">Resend</button>
      </span>
    </h6>
    <h6 (click)="popPage()" class="cBlue">Edit my phone number</h6>
  </div>

  <div class="panel-action">
      <ion-icon name="ios-arrow-round-forward-outline" color="light" 
      (click)="nextState()"></ion-icon>
  </div>
</ion-content>