<!--
  Generated template for the TermConditionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="panel-top">
    <h6 class="term-con">Tab arrow below to agree with Limo’s term of use and acknowledge that you have read Privacy Policy </h6>
  </div>

  <div class="panel-detail">
      <h6>To learn more about <span class="cBlue" (click)="viewTerm()"> Term of Use </span><br/> and <span class="cBlue" (click)="viewPrivacy()">Privacy policy</span></h6> 
    </div>
 

  <div class="panel-action">
      <ion-icon name="ios-arrow-round-forward-outline" color="light" 
      (click)="gotoHomePage()"></ion-icon>
  </div>
</ion-content>
