.ios{
    page-home-search {

        .toolbar-background {
            border: none;
        }

        ion-searchbar{
            border: 0 !important;
            box-shadow: none !important;
        }

        .searchbar-search-icon { display:none; width:0; height:0;}
    
        .searchbar-input { 
            padding-left: 16px !important;
            border: 0 !important;
            box-shadow: none !important;
        }
    
        .search-panel {
            display: flex;
            background: #fcb813;
            padding-left: 10px; 
            box-shadow: 1px 1px 6px;
    
            ion-item { 
                padding: 0;
                border: none; 
                .item-inner {
                    border: none; 
                }
                input {
                    background: #fff; 
                }
                input:focus {
                    background: #fff;
                } 
                .ion-searchbar { 
                    background: #fff;  
                }
            }
    
            .image-panel{
                border: none; 
                width: 10%;
                img{  
                    width: 80%; 
                    position: relative;
                }
                .icon-line{
                    background: #ffdd89;
                    width: 2px;
                    height: 22px;
                    position: absolute;
                    top: 40px;
                    left: 24px;
                }
                .icon-origin{ 
                    top: 4px;
                }
                .icon-destination{ 
                    top: 16px;
                }
            }
            .input-data{ 
                border: none;               
                margin: 0px;
                padding: 0px;
                width: 90%; 
            }
        }
    }
}


.md{
    page-home-search {

        .searchbar-search-icon { display:none; width:0; height:0;}
    
        .searchbar-input { 
            padding-left: 16px !important;
        }
    
        .search-panel {
            display: flex;
            background: #fcb813;
            padding-left: 10px;
            box-shadow: 1px 1px 6px;
    
            ion-item {
                background: #fcb813;
                padding: 0;
                .item-inner {
                    border: none !important;
                    margin-left: 10px !important;
                    box-shadow: none !important;
                }
                input {
                    background: #ffe9b2;
                    margin: 0px;
                    padding: 10px;
                    border-radius: 3px;
                }
                input:focus {
                    background: #fff4d8;
                } 
                .ion-searchbar { 
                    background: #ffe9b2; 
                    margin: 0px;
                    padding: 0px;
                    border-radius: 3px;
                }
            }
    
            .image-panel{
                width: 10%;
                img{  
                    width: 80%; 
                    position: relative;
                }
                .icon-line{
                    background: #ffdd89;
                    width: 2px;
                    height: 38px;
                    position: absolute;
                    top: 50px;
                    left: 28px;
                }
                .icon-origin{ 
                    top: 16px;
                }
                .icon-destination{ 
                    top: 40px;
                }
            }
            .input-data{               
                margin: 0px;
                padding: 0px;
                width: 90%;
            }
        }
    }
}