<!--
  Generated template for the HomeSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()" color="light">
        <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar> 
</ion-header>


<ion-content>


  <div class="search-panel" padding>
    <div class="image-panel">
      <div class="icon-line"></div>
      <img src="assets/images/icon-origin.png" class="icon-origin" />
      <img src="assets/images/icon-destination.png" class="icon-destination"/>
    </div>
    <div class="input-data">
        <ion-searchbar name="ipOrigin" #idOrigin [(ngModel)]="originQuery.query" placeholder="Origin" [showCancelButton]="false" (ionInput)="OriginSearch()" (click)="clickOrigin()"></ion-searchbar> 
        <ion-searchbar name="ipDestination" #idDestination [(ngModel)]="destinationQuery.query" placeholder="Destination" [showCancelButton]="false" (ionInput)="DestinationSearch()" (click)="clickDestination()"></ion-searchbar> 
    </div>
 
  </div>
  <div> 
      <ion-list *ngIf="!isDestinationScr">
          <ion-item-divider color="light">My Location</ion-item-divider>
          <ion-item-sliding>
              <ion-item text-wrap (click)="chooseCurrentOriginItem()">
                  <img src="assets/images/placeholder.png" width="20"/>
                  {{label_myLocation_a}}
                  <p>{{label_myLocation_b}}</p>
              </ion-item>  
          </ion-item-sliding>  

          <ion-item-divider *ngIf="isMyPlace" color="light">My Places</ion-item-divider>
          <ion-item-sliding *ngFor="let item of placeList">
            <ion-item text-wrap (click)="choosePlaceOriginItem(item)">
                    <img *ngIf="item.type=='home'" src="assets/images/home.png" width="20"/>
                    <img *ngIf="item.type=='work'" src="assets/images/work.png" width="20"/>
                    <img *ngIf="item.type=='other'" src="assets/images/placeholder.png" width="20"/>
                    <span *ngIf="item.type=='home'">Home</span>
                    <span *ngIf="item.type=='work'">Work</span>
                    <span *ngIf="item.type=='other'">Other</span> 
                    <p>{{item.name}}</p>
            </ion-item> 
            <ion-item-options icon-start>
              <button ion-button  (click)="chooseOriginItem(item,'3')">
                  <ion-icon name="ios-trash-outline"></ion-icon>
                  Delete
              </button>
            </ion-item-options>
         </ion-item-sliding>  

          <ion-item-sliding *ngFor="let item of originItems">
            <ion-item text-wrap (click)="chooseOriginItem(item,'1')">
                <img src="assets/images/placeholder.png" width="20"/>
                {{item.label_a}}
                <p>{{item.label_b}}</p>
            </ion-item> 
            <ion-item-options icon-start>
                <button ion-button  (click)="chooseOriginItem(item,'2')">
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    Place
                </button>
              </ion-item-options>
          </ion-item-sliding>  
        </ion-list>
 
        <ion-list *ngIf="isDestinationScr">
            <ion-item-divider *ngIf="isMyPlace" color="light">My Places</ion-item-divider> 
          <ion-item-sliding *ngFor="let item of placeList">
            <ion-item text-wrap (click)="choosePlaceDestinationItem(item)">
                <img *ngIf="item.type=='home'" src="assets/images/home.png" width="20"/>
                <img *ngIf="item.type=='work'" src="assets/images/work.png" width="20"/>
                <img *ngIf="item.type=='other'" src="assets/images/placeholder.png" width="20"/>
                <span *ngIf="item.type=='home'">Home</span>
                <span *ngIf="item.type=='work'">Work</span>
                <span *ngIf="item.type=='other'">Other</span> 
                <p>{{item.name}}</p>
            </ion-item> 
            <ion-item-options icon-start>
              <button ion-button  (click)="chooseDestinationItem(item,'3')">
                  <ion-icon name="ios-trash-outline"></ion-icon>
                  Delete
              </button>
            </ion-item-options> 
         </ion-item-sliding>  

            <ion-item-sliding *ngFor="let item of destinationItems" >
              <ion-item text-wrap (click)="chooseDestinationItem(item,'1')">
                  <img src="assets/images/placeholder.png" width="20"/>
                  {{item.label_a}}
                  <p>{{item.label_b}}</p>
              </ion-item> 
              <ion-item-options icon-start>
                  <button ion-button  (click)="chooseDestinationItem(item,'2')">
                      <ion-icon name="ios-add-circle-outline"></ion-icon>
                      Place
                  </button>
                </ion-item-options>
            </ion-item-sliding>  
        </ion-list> 
  </div>
</ion-content>