.ios{
    page-myplaces {

        .toolbar-background {
            border: none;
        }
    
        .profile{
            height: 100px;
            //align-items: center;
            display: flex;
            .img-panel{
                text-align: center;
                ion-icon{
                    font-size: 5em;
                    color: #fff;
                }
            }
            p{  
                padding: 0;
                margin: 0;
                color: #000;
                font-size: 1em;
            }
    
        }
    
    }
    
}


.md{
    page-myplaces {

        .profile{
            height: 100px;
            //align-items: center;
            display: flex;
            .img-panel{
                text-align: center;
                ion-icon{
                    font-size: 5em;
                    color: #fff;
                }
            }
            p{  
                padding: 0;
                margin: 0;
                color: #000;
                font-size: 1em;
            }
    
        }
    
    }
    
}