<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button (click)="dismiss()" color="light">
                <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title full text-center>MY PLACES</ion-title>
        <ion-buttons end>
                <button ion-button>
                    <ion-icon name="arrow-back" color="primary"></ion-icon>
                </button>
            </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>     
    <ion-list>
        <!-- <ion-item-divider color="light" style="font-size: 1.2em"></ion-item-divider> -->
        <ion-item-sliding *ngFor="let item of placeList" (click)="chooseItem(item)">
                <ion-item text-wrap>
                    <img *ngIf="item.type=='home'" src="assets/images/home.png" width="26"/>
                    <img *ngIf="item.type=='work'" src="assets/images/work.png" width="26"/>
                    <img *ngIf="item.type=='other'" src="assets/images/placeholder.png" width="26"/>
                    <span>{{item.type}}</span>
                    <p>{{item.name}}</p>
                </ion-item>  
                <ion-item-options icon-start>
                        <button ion-button  (click)="removeItem(item)">
                            <ion-icon name="ios-trash-outline"></ion-icon>
                            Delete
                        </button>
               </ion-item-options>
        </ion-item-sliding> 
        <ion-item> 
        </ion-item>
    </ion-list>
</ion-content>