page-refund {
    .horizontalline{
        width:40px;
        height:1%;
        background: #fcb813;
        margin-top: 0; 
        position: relative; 
        margin-left: 16px;
        margin-bottom: 16px;
    }

    .verticalline {
        width:1%;
        height:50px;
        background: #fcb813;
        margin-top: 0;
        position: relative;
        margin-left: 10%;
      }

    .panel-top {
        background-color: #fff;
        padding: 40px 16px 20px 16px;
        min-height: 12%;
        text-align: left; 
        h2 {
            text-align: left;
            margin: 0px; 
            font-weight: bold;
            color: #555;
        }  
        
    }

    .panel-action-b {
        font-size: 4em;  
        position: absolute;
        bottom: 3%;
        margin-bottom: 100px;
        right: 3%;
        width: 75px;
        height: 55px;
        ion-icon{
            position: relative;
            left: 15px;
            top: 3px;
            font-size: 0.8em;
        }
    }


    .panel-detail-b {
        padding: 8px 16px 8px 16px; 
    }

}
