<!-- 
    <ion-header>
  <ion-navbar color="secondary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
 -->
<ion-content class="main-view">
    <div class="modal_content"> 
        <ion-scroll style="height: 340px" scrollY="true">
            <ion-list scroll="true">
                <ion-item-divider no-lines  color="light">Booking
                    <ion-icon name="ios-close" item-end (click)="dismiss()"></ion-icon>
                </ion-item-divider>
                <div class="horline"></div> 
                <ion-item no-lines *ngFor="let item of list_cars" (click)="chooseItem(item)">
                    <img item-start [src]="item.icon" width="42" />  
                    <h5 style="padding: 6px;">{{item.name}} </h5>
                    <p item-end>THB {{item.fare}}</p>  
                </ion-item>
                <ion-item no-lines></ion-item> 
                <ion-item no-lines></ion-item> 
                <ion-item no-lines></ion-item> 
            </ion-list>
        </ion-scroll>
    </div>
</ion-content>