<ion-header> 
    <ion-navbar hideBackButton="{{bBack}}"> 
         <ion-title full text-center></ion-title> 
    </ion-navbar>  
</ion-header>


<ion-content>
    <div class="panel-top"> 
        <h4 class="{{text_color}}">{{questionList[currentIndex].question}}</h4>

        <div class="panel-input-user">
            <ion-input class="{{ip_color}}" *ngFor="let a of questionList[currentIndex].value" 
            type="{{a.type}}" (keyup.enter)="nextState()"
            placeholder="{{a.placeholder}}" [(ngModel)]="a.value"
            ></ion-input>
            <h6 *ngIf="stateValidate">{{message_validate}}</h6>
        </div>
 
    </div>
     
    <div class="panel-action">
            <ion-icon name="ios-arrow-round-forward-outline" color="light" 
            (click)="nextState()"></ion-icon>
        </div> 
</ion-content>