.ios{
    page-create-newuser {
        .toolbar-background {
            border: none;
        }
        
    
        .bb_color_a{
            color: #fcb813; 
          }
    
          .bb_color_b{
            color: #fff; 
          }
    
        .sp_color_a{
            color: red; 
          }
     
        .sp_color_b{
            color: #000; 
          }
    
          .ip_color_a{
            border-bottom: 2px solid red; 
          }
     
          .ip_color_b{
            border-bottom: 2px solid #fff; 
          }
    
        .panel-top {
            background-color: #fcb813;
            padding: 21px;
            min-height: 35%;
            h4 {
                margin: 0px;
            }
        }
    
        .panel-input-user{
            margin: 10px 0; 
            input{
                background: none;
                border: none;
                //border-bottom: 2px solid #fff;
                width: 100%;
                font-size: 1.5em;
                margin: 10px 0px;
                padding: 0 10px;
            } 
            input::placeholder{
                color: #fff;
                font-style: italic
            }
            h6{
                color: red;
            }
        }
    }
    
}

.md{
    page-create-newuser {
      
    
        .bb_color_a{
            color: #fcb813; 
          }
    
          .bb_color_b{
            color: #fff; 
          }
    
        .sp_color_a{
            color: red; 
          }
     
        .sp_color_b{
            color: #000; 
          }
    
          .ip_color_a{
            border-bottom: 2px solid red; 
          }
     
          .ip_color_b{
            border-bottom: 2px solid #fff; 
          }
    
        .panel-top {
            background-color: #fcb813;
            padding: 21px;
            min-height: 35%;
            h4 {
                margin: 0px;
            }
        }
    
        .panel-input-user{
            margin: 10px 0; 
            input{
                background: none;
                border: none;
                //border-bottom: 2px solid #fff;
                width: 100%;
                font-size: 1.5em;
                margin: 10px 0px;
                padding: 0 10px;
            } 
            input::placeholder{
                color: #fff;
                font-style: italic
            }
            h6{
                color: red;
            }
        }
    }
    
}