page-home-driver {
 
    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: black;
          }
        }
    } 
    #map {
        height: 105%;
        .view-link {

            display:none !important;
            
        }
    } 
    .card .list .item {
        border-bottom: 1px solid #7b7b7b;
    }
    .panel-confim-driver {
        position: absolute;
        bottom: 20px;
        width: 100%;
        padding: 5px;
        ion-card {
            width: 97%;
            margin: 0 auto;
            box-shadow: 0px 0px 7px #7b7b7b;
            border-radius: 4px;
        }
        ion-card-header {
            color: #606060;
            font-size: 1.6em;
            text-align: center;
            padding: 10px;
        }
        ion-card-content {
            padding: 0px;
            ion-label{
                font-size: 1.2em;
                margin-left: 45px;
            }
        }
        .txt-label{
            ion-label{
                margin-right: 70px;
            }
        }
        .trip-detail {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            margin-top: 6px;
            padding-right: 16px;
        }
        .btn-success {
            margin: 10px; 
            height: 2em;
            bottom: 0px;
            text-align: center;
            vertical-align: middle;
            width: 94%;
            color: #fff;
            font-size: 2em;
        }
        img{
            width: 30px;
            position: absolute;
            top: 4px; 
        }
    }
    .panel-find-car-a{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 25%;
        padding: 10px;
    }
    .panel-find-car {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 65%;
        padding: 10px;
        ion-card {
            width: 97%;
            height: 100%;
            margin: 0;
            box-shadow: 0px 0px 7px #7b7b7b;
            border-radius: 4px;
        }
        ion-card-header {
            padding: 10px;
        }
        ion-card-content {
            padding: 0px;
            margin: 0px;
            width: 96%;
            height: 72%;
            img{
                width: 30px;
                position: absolute; 
                top: 0px;
                left: 4px;
                margin-right: 20px;
            } 
            span{
                margin-left: 40px;
            }
            ion-scroll{
                 margin: 0;
                 padding: 0;
                 text-align: left;
                 height: 100%;
                 ion-col{
                     vertical-align: middle;
                 }
            } 
        } 
        .btn-confirm {
            margin: 10px; 
            height: 2em;
            top: 4px;
            bottom: 4px;
            width: 94%;
            color: #fff;
            font-size: 1.4em;
        }
        
    }
}