<ion-header no-border>
  <ion-navbar transparent> 
      <button ion-button menuToggle>
          <ion-icon name="menu" style="color: #666"></ion-icon>
        </button> 
  </ion-navbar>
</ion-header>

<ion-content>  
  <div #map id="map"></div> 
  <div id="map_canvas3" style="width: 100px; height: 100px;display: none;"></div> 
  
  <!-- <div class="panel-find-car-a" *ngIf="!flag_show">
      <ion-card *ngIf="!flag_show">
          <ion-card-header>
            Your Nearby Jobs List
            <ion-icon item-end name="ios-arrow-dropdown-outline"></ion-icon>
          </ion-card-header>
      </ion-card>
  </div> -->
  <ion-fab middle right *ngIf="showBox" style="margin-top: -110px;">
      <button ion-fab (click)="viewBook()"><ion-icon name="ios-book-outline"></ion-icon></button>
      </ion-fab>
  <div class="panel-find-car" *ngIf="showBox" [hidden]="view_Book"> 
      <ion-card>
        <ion-card-header>
          Your Nearby Jobs List
        </ion-card-header>
        <div class="line stripesLoader" style="background-position:100%;background-color : orange"></div>
        <ion-card-content>
            <ion-scroll scrollY="true">
                <ion-list scroll="true"> 
                  <ion-item-sliding  *ngFor="let item of list_user_find" (click)="chooseItem(item)">
                    <ion-item text-wrap>
                      <ion-row> 
                        <ion-col col-10 text-wrap>
                            <img  src="assets/images/icon-origin.png"  />  
                            <span style="font-size: 0.9em;">{{item.start_location}}  </span>  
                        </ion-col> 
                        <ion-col col-2>
                            <ion-icon *ngIf="item.expressway=='1'" name="custom-tollways" color="bBlue" style="font-size: 26px;"></ion-icon>
                        </ion-col>   
                      </ion-row>
                      <ion-row> 
                          <ion-col col-10 text-wrap>
                              <img  src="assets/images/icon-destination.png"  />
                              <span style="font-size: 0.9em;"> {{item.destination}}</span>   
                          </ion-col> 
                          <ion-col col-2>
                              <p style="font-size: 0.9em;text-align: center;">THB {{item.fare}}</p>
                          </ion-col>
                      </ion-row>
                      <ion-icon item-right [color]="item.color" name="ios-checkmark-circle" (click)="chooseItem(item)"></ion-icon> 
                    </ion-item> 
                </ion-item-sliding> 
                </ion-list>
            </ion-scroll>
      
        </ion-card-content> 
        <button class="btn-confirm" ion-button full (click)="confirmJob()">CONFIRM JOB</button>
      </ion-card> 
    </div>
    <div class="panel-confim-driver" *ngIf="runJob">
        <ion-card>
          <ion-card-header>
            Contact Your Passenger
            <p style="font-size: 0.8em">{{selectItem.user_name}}</p>
          </ion-card-header>
          <!-- <div class="line stripesLoader" style="background-position:100%;background-color: #666666"></div> -->
          <!-- <ion-card-content>
            <ion-item class="txt-label">
              <img src="assets/images/icon-origin.png" /> <p style="font-size: 0.8em">{{selectItem.start_location}}</p>
              <div class="trip-detail">
                </div>
            </ion-item>
            <ion-item class="txt-label">
              <img src="assets/images/icon-destination.png" /> <p style="font-size: 0.8em">{{selectItem.destination}}</p>
              <div class="trip-detail">
                <h6>THB {{selectItem.fare}}</h6>
              </div>
            </ion-item>
          </ion-card-content> -->
          <ion-grid text-center>
              <ion-row no-padding>
                <ion-col (click)="calling()"> 
                  <ion-icon name="ios-call-outline" style="font-size: 44px;"></ion-icon> 
                </ion-col> 
                <ion-col *ngIf="selectItem.note !=''" (click)="popMessage()">
                  <ion-icon name="ios-chatboxes-outline" style="font-size: 44px;"></ion-icon> 
                </ion-col>
              </ion-row>
            </ion-grid>
            <button *ngIf="btnPickup" class="btn-success" ion-button full (click)="clickPickup()">รับผู้โดยสาร</button> -->
            <button *ngIf="btnSuccess" class="btn-success" ion-button full (click)="clickSuccess()">ส่งผู้โดยสาร</button>  
          </ion-card>
      </div>
</ion-content>