<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()" color="light">
        <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title full text-center>EDIT ACCOUNT</ion-title> -->
  </ion-navbar>
</ion-header>


<ion-content>
 
  <div class="panel-top">
      <h4>Enter your phone number</h4>  
  
      <div class="panel-content">  
          <ion-grid>
              <ion-row>
                  <ion-col col-2>
                      <img item-left src="https://limoapp.me/assets/di/flags/th.png" style="height: 32px;" />
                  </ion-col>
                <ion-col col-3>     
                  <ion-select [(ngModel)]="ipCountryCode"> 
                        <ion-option value="TH">+66
                        </ion-option>  
                  </ion-select> 
 
                </ion-col>
                <ion-col col-7>
                  <input type="tel" [(ngModel)]="ipPhoneNumber"  maxlength="10" (keyup.enter)="nextState()"/>
                </ion-col>
              </ion-row> 
              <ion-row>
                  <ion-col col-2>
                  </ion-col>
                <ion-col col-10>
                    <p style="color: red;font-size: 0.8em;" *ngIf="phoneValidate">* {{message_phone_validate}}</p>
                  </ion-col>
              </ion-row>
            </ion-grid>
      </div> 
  </div>


  <div class="panel-action">
      <ion-icon name="ios-arrow-round-forward-outline" color="light" 
      (click)="nextState()"></ion-icon>
  </div>
</ion-content>
