<!-- 
    <ion-header>
  <ion-navbar color="secondary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
 -->

 <ion-content class="main-view">
        <div class="modal_content"> 
            <ion-scroll style="height: 340px" scrollY="true">
            <ion-list scroll="true">
                <ion-item-divider no-lines  color="light">Payment Card
                    <ion-icon name="ios-close" item-end (click)="dismiss()"></ion-icon>
                </ion-item-divider>
                <div class="horline"></div> 
                <ion-item  no-lines *ngFor="let item of paymentList" (click)="chooseItem(item)">
                    <img item-start src="assets/images/credit-card.png" width="38" />  
                     <h5 style="padding: 6px;">{{item.card_number}}</h5>
                     <ion-icon *ngIf="item.id== id_payment" item-right color="primary" name="ios-checkmark-circle"></ion-icon>
                    <!-- <p item-end>THB {{item.fare}}</p>  -->
                </ion-item>
                <ion-item no-lines></ion-item> 
                <ion-item no-lines></ion-item> 
            </ion-list>
            </ion-scroll>
        </div>
    </ion-content>
