page-place { 
  .horline{
    width:100%;
    height: 1px;
    background: #BABABA; 
    position: relative;  
   }
   
    .main-view{
        background: transparent;
      }
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #333;
      }
      .modal_content {
        position: absolute;
        //top: calc(50% - (50%/2));
        bottom: 0;
        left: 0;
        right: 0;
        width: 98%;
        height: 56%; 
        z-index: 100;
        margin: 0 auto;
        padding: 0px;
        color: #333;
        background: #fff;
        background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
      }

      ion-item{
        height: 80px;
      }
}