<!-- 
    <ion-header>
  <ion-navbar color="secondary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
 -->

 <ion-content class="main-view">
        <div class="modal_content"> 
            <ion-scroll style="height: 340px" scrollY="true">
            <ion-list scroll="true">
                <ion-item-divider no-lines  color="light">Place
                    <ion-icon name="ios-close" item-end (click)="dismiss()"></ion-icon>
                </ion-item-divider>
                <div class="horline"></div> 
                <ion-item-sliding *ngFor="let item of placeList" (click)="chooseItem(item)">
                    <ion-item text-wrap>
                        <img *ngIf="item.type==1" src="assets/images/home.png" width="20"/>
                        <img *ngIf="item.type==2" src="assets/images/work.png" width="20"/>
                        <img *ngIf="item.type==3" src="assets/images/placeholder.png" width="20"/>
                        <span *ngIf="item.type==1">Home</span>
                        <span *ngIf="item.type==2">Work</span>
                        <span *ngIf="item.type==3">Other</span> 
                        <p>{{item.name}}</p>
                    </ion-item>  
                </ion-item-sliding>  
                <ion-item></ion-item> 
            </ion-list>
            </ion-scroll>
        </div>
    </ion-content>
