.ios{
    page-add-place { 
    
        .toolbar-background {
            border: none;
        }
        
        
        input{
            border: none;
        }
        .btn-action {
            button {
                height: 50px;
                font-size: 1.2em;
                text-align: center;
                vertical-align: middle;
                margin-bottom: 10px;
            }
        } 
        .i-item {
            padding: 0;
            margin: 0;  
            p{
                padding: 0 0 0 55px;
            }
            input{
                padding: 0 0 0 55px;
            } 
            span{
                padding: 0 0 0 55px;
            }
        }
        .panel-top {
            background-color: #fcb813;
            padding: 16px;
            min-height: 80px;
            text-align: center; 
            h2 { 
                margin: 0px; 
                color: #fff;
            }
            img {
                width: 110px;
                position: relative;
                top: 4px;
                border-radius: 20%;
            }
            span { 
                font-size: 2em;
                color: #fff;
            }
        }
    
    }
}

.md{
    page-add-place { 
        
        input{
            border: none;
        }
        .btn-action {
            button {
                height: 50px;
                font-size: 1.2em;
                text-align: center;
                vertical-align: middle;
                margin-bottom: 10px;
            }
        } 
        .i-item {
            padding: 0;
            margin: 0;  
            p{
                padding: 0 0 0 55px;
            }
            input{
                padding: 0 0 0 55px;
            } 
            span{
                padding: 0 0 0 55px;
            }
        }
        .panel-top {
            background-color: #fcb813;
            padding: 16px;
            min-height: 80px;
            text-align: center; 
            h2 { 
                margin: 0px; 
                color: #fff;
            }
            img {
                width: 110px;
                position: relative;
                top: 4px;
                border-radius: 20%;
            }
            span { 
                font-size: 2em;
                color: #fff;
            }
        }
    
    }
}