<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()" color="light">
        <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content> 
  <div class="panel-top">
    <h2>ADD PLACE</h2> 
  </div> 
  <br>
  <ion-segment [(ngModel)]="type" color="primary" (ionChange)="segmentChanged()">
      <ion-segment-button value="1" >
        <h4>Home</h4>
      </ion-segment-button>
      <ion-segment-button value="2" >
        <h4>Work</h4>
      </ion-segment-button>
      <ion-segment-button value="3" >
        <h4>Other</h4>
      </ion-segment-button>
  </ion-segment>
  <br> 
  <ion-item class="i-item">
    <p>Name</p>
    <input type="text" [(ngModel)]="ipName" (keyup.enter)="Save()" />
  </ion-item> 
  <ion-item class="i-item">
    <p>Address</p> 
    <ion-label text-wrap style="margin-left: 55px;">{{Address}}</ion-label> 
  </ion-item> 
  <ion-item class="i-item" no-lines></ion-item>
  <ion-item class="i-item" no-lines></ion-item> 
  <div padding class="btn-action">
    <button ion-button full color="primary" (click)="Save()">CONFIRM</button>
  </div>
</ion-content>