<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button (click)="dismiss()" color="light">
                <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title full text-center>SETTINGS</ion-title>
        <ion-buttons end>
                <button ion-button>
                    <ion-icon name="arrow-back" color="primary"></ion-icon>
                </button>
            </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="profile">
        <ion-grid>
            <ion-row>
                <ion-col col-4 class="img-panel">
                    <img src="{{image_account}}" style="width: 65px;border-radius: 10%;" />
                </ion-col>
                <ion-col col-8>
                    <br>
                    <p>{{userName}}</p> 
                    <p>{{mobilePhone}}</p>
                    <p>{{emailAddress}}</p> 
                </ion-col> 
            </ion-row>
        </ion-grid>
    </div>
    <br/>  
 
    <ion-list>
        <ion-item-divider color="light" style="font-size: 1.2em">Favorite Place</ion-item-divider>
        <ion-item-sliding *ngFor="let item of favoritePlace" (click)="chooseItem(item)">
            <ion-item text-wrap>
                <img src="assets/images/placeholder.png" width="20" />
                {{item.label_a}}
                <p>{{item.label_b}}</p>
            </ion-item>
        </ion-item-sliding>
        <ion-item> 
        </ion-item>
    </ion-list>

</ion-content>