page-home {
 
    .sp_color_a{
        color: blue; 
      }
 
      .sp_color_b{
        color: #000; 
      }

    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: black;
          }
        }
      }
 
    .hide {
        display: none;
    }
    .menu-toggle-panel {
        position: absolute;
        z-index: 1;
    }
    .where-go-panel {
        position: absolute;
        z-index: 1;
        width: 100%;
        text-align: center;
        top: 10%;
        .button {
            width: 90%;
            margin: auto;
            margin-top: 2px;
            height: 48px;
            border-radius: 3px;
            color: #fff;
            font-size: 1.4em;
            font-style: italic;
            text-transform: capitalize;
            padding: 0;
            .button-inner{
                margin-top: 3px;
            }
            span {
                justify-content: left;
                padding-left: 30px;
            }
            span.button-inner{
                padding-left: 0px;
            }
            img{
                width: 24px;
                position: relative;
                left: 12px;
                top: -3px;
            }
            p { 
                justify-content: left;
                padding-left: 30px; 
                padding-right: 30px; 
                color: #666;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 0.6em; 
            }
        }
    }
    .input-to-go-panel {
        box-shadow: 1px 1px 7px #8c8c8c;
        background-color: #fcb813bd;
        width: 90%;
        margin: 0 auto;
        margin-top: 5px;
        border-radius: 3px;
        .link-line{
            position: absolute;
            width: 2px;
            height: 35px;
            background: #f9db93;
            top: 95px;
            left: 42px;
        }
        .input-location {
            .iconpanel {
                position: absolute;
                width: 50px;
                font-size: 2em;
                margin: 12px 0; 
                background-color: #fcb813bd;
                img{
                    width: 50%;
                }
            }
            .inputpanel {
                margin-left: 50px;
                text-align: left;
                ion-label {
                    margin: 0;
                    padding: 10px 0;
                    padding-bottom: 5px;
                    font-size: 1.2em;
                }
            }
            p {
                margin: 0;
                padding-bottom: 10px;
                color: #fff;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
                font-size: 0.8em;
                margin-right: 10px;
            }
        }
        .input-location.first {
            border-bottom: 1px solid #e2e2e2;
        }
    }
    .btn-menuToggle {
        font-size: 3em;
        padding: 12px;
        margin: 14px;
        background-color: transparent;
        box-shadow: none;
        color: #7b7b7b;
    }
    #floating-panel {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
    #map {
        height: 105%;
        height: 105%;
        .view-link {

            display:none !important;
            
        }
    }
    .drive-with-us {
        position: fixed;
        z-index: 2;
        bottom: 10px;
        div {
            padding: 10px;
            background: #fff;
            width: 95%;
            margin: 0 auto;
            h6 {
                margin: 0 14 0 14;
                color: #999;
            }
            p{
                margin: 0 14 0 14;
                color: #000;
            }
            .button { 
                margin-top: 2px;
                height: 48px; 
                background: #fff;
                color: #999;
            }
        } 
    }
    .panel-book-car {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 5px; 
        ion-card {  
            width: 90%;
            margin: 0 auto;
            box-shadow: 0px 0px 7px #7b7b7b;
            border-radius: 4px;
        }
        img{
            width: 30px;
            position: absolute;
            top: 5px;
            left: 5px;
        }
        ion-card-header {
            padding: 10px;
        }
        ion-card-content {
            padding: 10px;
            padding-top: 0px;
            ion-label{
                font-size: 1em;
                margin-left: 45px;
            }
        }
        .trip-detail {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
        }
        .book-action {
            button {
                min-height: 48px;
                font-size: 1em;
            }
        }
    }
    .panel-show-driving {
        position: absolute;
        top: calc(50% - (50%/2));
        width: 100%;
        height: 40%;
        padding: 5px;
        ion-card {
            text-align: center;
            width: 97%; 
            box-shadow: 0px 0px 7px #7b7b7b;
            border-radius: 4px;
        }
        ion-card-header {
            color: #606060;
            font-size: 1.6em;
            text-align: center;
            padding: 20px;
        }
        ion-card-content {
            padding: 0px;
            ion-label{
                font-size: 1.2em;
                margin-left: 45px;
            }
        }
        ion-grid{
            padding: 10;
            margin: 10;
            ion-col{
                padding: 10;
                margin: 10;
                .circle-pic{
                    margin-left: 50% -(50%/4);
                    width:80px;
                    height:80px;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                } 
            } 
        }
        
    }
    .panel-find-car {
        position: absolute;
        bottom: 20px;
        width: 100%;
        padding: 5px;
        ion-card {
            width: 97%;
            margin: 0 auto;
            box-shadow: 0px 0px 7px #7b7b7b;
            border-radius: 4px;
        }
        ion-card-header {
            padding: 10px;
        }
        ion-card-content {
            padding: 0px;
            ion-label{
                font-size: 1.2em;
                margin-left: 45px;
            }
        }
        .txt-label{
            ion-label{
                margin-right: 70px;
            }
        }
        .trip-detail {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            margin-top: 13px;
            padding-right: 16px;
        }
        .btn-cancel {
            margin: 0px;
            height: 2em;
            font-size: 1.5em;
        }
        img{
            width: 30px;
            position: absolute;
            top: 8px;
            left: 15px;
        }
    }
}