<ion-header no-border>
  <ion-navbar transparent> 
      <button ion-button menuToggle>
          <ion-icon name="menu" style="color: #666"></ion-icon>
        </button> 
  </ion-navbar> 
</ion-header>

<ion-content>
 
  
  <!-- <div class="menu-toggle-panel" [class.hide]="bookState">
    <button ion-button menuToggle class="btn-menuToggle">
      <ion-icon name="menu"></ion-icon>
    </button> 
  </div> -->

  <div class="where-go-panel" [class.hide]="showDriver">
    <button *ngIf="MemberType=='0'" ion-button icon-start (click)="actionbtn()" [class.hide]="bookState">
      <img src="assets/images/driver.png" />
      <span *ngIf="!searchState">Go every where ?</span>
      <span *ngIf="searchState">Clear route</span>
    </button>

    <!-- 
      <div class="input-to-go-panel" [class.hide]="!searchState">
      <div class="link-line"></div>
      <div class="input-location">
        <div class="iconpanel">
          <img src="assets/images/icon-origin.png" />
        </div>
        <div class="inputpanel">
          <ion-label>{{locationLabel.origin}}</ion-label>
          <p>{{locationRequest.ipStartDetail}}</p>
        </div>
      </div>

      <div class="input-location">
        <div class="iconpanel">
          <img src="assets/images/icon-destination.png" />
        </div>
        <div class="inputpanel">
          <ion-label>{{locationLabel.destination}}</ion-label>
          <p>{{locationRequest.ipEndDetail}}</p>
        </div>
      </div>
    </div> 
  -->

  </div>
  <div #map id="map"></div>
  <div id="map_canvas2" style="width: 100px; height: 100px;display: none;"></div> 

  <div class="panel-book-car" [class.hide]="!searchState"> 
    <div> 
        <ion-icon [name]="icon_name_v" item-end (click)="hidden_book_car()"></ion-icon>  
    </div>
    <ion-card [hidden]="book_car_hidden">
      <ion-card-header>
        BOOKING
        <small>({{locationRequest.ipDistance}})</small>
      </ion-card-header>
      <ion-card-content>
        <ion-item (click)="ChangeCars()">
          <img [src]="OrderCalList.icon" /> {{OrderCalList.name}}
          <div class="trip-detail">
            <p>THB {{OrderCalList.fare}}</p>
            <h6>{{locationRequest.ipDuration}}</h6>
          </div>
        </ion-item>
      </ion-card-content>  
    </ion-card> 
   <br/>
    <ion-card padding text-center [hidden]="book_car_hidden">
      <ion-grid>
          <ion-row no-padding>
            <ion-col (click)="ChangePayment()">
              <!-- <img src="assets/images/credit-card.png" />   -->
              <ion-icon name="ios-card-outline" style="font-size: 30px;"></ion-icon>
              <p>{{Payment}}</p>
            </ion-col>
              <ion-col (click)="ChangeTollway()">
                <ion-icon [name]="icon_tollway" [color]="icon_tollway_color" style="font-size: 30px;"></ion-icon>
                <br/> <span class="{{icon_text_color}}">{{Set_Tollway}}</span>
              </ion-col> 
            <!-- <ion-col (click)="ChangePlace()">
                <ion-icon name="ios-map-outline" style="font-size: 30px;"></ion-icon>
                <br/> Palce
              </ion-col> -->
            <ion-col (click)="ChangeOption()">
              <ion-icon name="ios-more-outline" style="font-size: 30px;"></ion-icon>
              <br/> Option
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <hr/>
        <div>
          THB 80 - 120
        </div> -->
    </ion-card> 
    <br/>
    <ion-card padding text-center [hidden]="book_car_hidden">
        <h6>By clicking "Book" I have read</h6> 
        <h6>agree to<span class="cBlue" (click)="viewTerm()"> term & condition </span></h6>  
    </ion-card > 

    <div padding class="book-action">
      <button ion-button full color="primary" (click)="checkPaymentBook()">Book</button>
    </div>
  </div>

  <div class="panel-find-car" [class.hide]="!bookState">
    <ion-card>
      <ion-card-header>
        Finding you a nearby premium driver...
      </ion-card-header>
      <div class="line stripesLoader" style="background-position:100%;background-color:#ffa500"></div>
      <ion-card-content>
        <ion-item class="txt-label">
          <img src="assets/images/icon-origin.png" /> <p style="font-size: 0.7em">{{locationLabel.origin_a}}</p>
          <div class="trip-detail">
              <ion-icon name="ios-card-outline" style="font-size: 30px;"></ion-icon> {{Payment}}
          </div>
        </ion-item>
        <ion-item class="txt-label">
          <img src="assets/images/icon-destination.png" /> <p style="font-size: 0.7em">{{locationLabel.destination_a}}</p>
          <div class="trip-detail">
            <h6>THB {{OrderCalList.fare}}</h6>
          </div>
        </ion-item>
      </ion-card-content>
      <button class="btn-cancel" ion-button full (click)="CancelCar()">Cancel</button>
    </ion-card>
  </div>

   <div class="drive-with-us" *ngIf="MemberType=='9' && !searchState && !bookState">
    <div>
      <h6>Drive with Us</h6>  
      <p>Join us to meet premium passenger Lorem ipsum dolor sit amet, consectetur</p> 
      <ion-item style="height: 30px;" no-margin text-center no-lines><h6>Try Now</h6></ion-item>
    </div> 
  </div>  
<ion-fab middle right *ngIf="showDriver">
      <button ion-fab (click)="viewDriver()"><ion-icon name="ios-car-outline"></ion-icon></button>
      </ion-fab>
  <div class="panel-show-driving" *ngIf="showDriver" [hidden]="view_Driver"> 
    <ion-card>
      <ion-card-header>
          <span>รถจะมารับภายใน  {{dTimes}}  นาที</span>
      </ion-card-header>   
      <ion-grid text-center> 
          <ion-row no-padding style="text-align: center;">
              <ion-col style="text-align: center;"> 
                  <img class="circle-pic" src="{{data_driver.driverImg}}" > 
              </ion-col>
          </ion-row>
          <ion-row no-padding>
              <ion-col>  
                  <p style="font-size: 1.4em">{{data_driver.driverName}}</p> 
              </ion-col>
          </ion-row> 
          <ion-row no-padding> 
              <ion-col>   
                    <ion-icon [name]="getIconName(num)" *ngFor="let num of [0,1,2,3,4]" [ngStyle]="{'color': getColor(num)}" style="font-size: 32px; padding: 4px;"></ion-icon>
              </ion-col>
          </ion-row>
          <ion-row no-padding>
              <ion-col>  
                  <p style="font-size: 1.4em">{{data_driver.CarReg}}</p> 
              </ion-col>
          </ion-row> 
          <ion-row no-padding>
            <ion-col (click)="calling()"> 
              <ion-icon name="ios-call-outline" style="font-size: 44px;"></ion-icon> 
            </ion-col>  
          </ion-row>
        </ion-grid> 
    </ion-card>
  </div>
  <ion-fab middle right *ngIf="showVote">
    <button ion-fab (click)="closeVote()"><ion-icon name="ios-car-outline"></ion-icon></button>
    </ion-fab>
    <div class="panel-show-driving" *ngIf="showVote" [hidden]="hide_view_Vote"> 
      <ion-card>
        <ion-card-header>
            <!-- <span>10 mins arrived</span> -->
        </ion-card-header>   
        <ion-grid text-center> 
            <ion-row no-padding style="text-align: center;">
                <ion-col style="text-align: center;"> 
                    <img class="circle-pic" src="{{data_driver.driverImg}}" > 
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col>  
                    <p style="font-size: 1.4em">{{data_driver.driverName}}</p> 
                </ion-col>
            </ion-row> 
            <ion-row no-padding> 
                <ion-col>   
                      <ion-icon [name]="getIconVote(num)" *ngFor="let num of [0,1,2,3,4]" [ngStyle]="{'color': getColor(num)}" (click)="setColor(num)" style="font-size: 32px; padding: 4px;"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col>  
                  <ion-textarea  style="padding: 10px; width: 100%; height: 100px;border-radius: 6px; border: 1px solid #999;" no-margin text-wrap rows="5"  [(ngModel)]="textNote"  placeholder="Comment..." full ></ion-textarea>
                </ion-col>
            </ion-row> 
            <ion-row no-padding>
              <ion-col> 
                <button ion-button full color="primary" style="height: 50px;font-size: 1em;" (click)="SaveVote()">Vote</button>
              </ion-col>  
            </ion-row>
          </ion-grid> 
      </ion-card>
    </div>
  <ion-fab right bottom *ngIf="showSetC">
      <button ion-fab color="trnsp" (click)="SetCurrentLocation()"><ion-icon name="ios-locate-outline" color="dark"></ion-icon></button>
  </ion-fab>
</ion-content>