<!--
  Generated template for the YourTripPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 
<!-- <ion-navbar>
        <ion-title>TERM & CONDITION
        </ion-title> 
</ion-navbar> -->
</ion-header>


<ion-content>

  <div class="panel-top">
     <h2>TERM & CONDITION</h2> 
  </div> 
  <div class="horizontalline"></div> 

  <!-- 
      <ion-fab right top>
        <ion-icon name="close" color="primary" style="font-size: 4em;margin-right: 20px;"
        (click)="dismiss()"></ion-icon>
    </ion-fab>
   -->
 

    <ion-scroll style="height:80%;" scrollY="true" >
    <div class="panel-detail-b" [innerHTML]="term_html"> 
    </div>
    </ion-scroll>
     
   <!-- <ion-fab right bottom>
      <ion-icon name="ios-arrow-round-back-outline" color="cGray" style="font-size: 4em;margin-right: 20px;"
      (click)="dismiss()"></ion-icon>
  </ion-fab> -->
  
</ion-content> 

<ion-footer no-border>
    <ion-toolbar color="light" >
        <ion-buttons end>
            <button ion-button (click)="dismiss()">
                <ion-icon name="ios-arrow-round-back-outline" color="cGray" style="font-size: 4em;margin-right: 20px;"></ion-icon>
            </button>
        </ion-buttons> 
    </ion-toolbar>
  </ion-footer>